<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <h1>Admin</h1>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item ">
                        <a href="/karyawan" class='sidebar-link'>
                            <i class="bi bi-person-badge-fill"></i>
                            <span>Karyawan</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="/gaji" class='sidebar-link'>
                            <i class="bi bi-collection-fill"></i>
                            <span>Gaji</span>
                        </a>
                    </li>
                    <hr>
                    <li class="sidebar-item  ">
                        <a href="/logout" class='sidebar-link'>
                            <i class="bi bi-x-octagon-fill"></i>
                            <span>Logout</span>
                        </a>
                    </li>

                     
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>